<ion-view view-title="Lift!">
  <ion-content>
    <h1>{{exerciseName}}</h1>
    
    <table width="100%">
		<tr ng-repeat="ex in trainings">
			<td >{{ex.date | date:'dd.MM'}}</td>
			<td ng-repeat="set in ex.sets" >
				{{set.reps}} x {{set.weight}}
			</td>
		</tr>
    </table>
    
    <button class="button button-balanced" ng-click="openPopover($event)">add set</button>
    
	<script id="my-popover.html" type="text/ng-template">
		<ion-popover-view>
			<ion-header-bar>
				<h1 class="title">Add set</h1>
			</ion-header-bar>
			<ion-content>
				<label class="item item-input">
					<span class="input-label">Reps</span>
					<input type="number" ng-model="newSet.reps">
				</label>

				<label class="item item-input">
					<span class="input-label">Weight</span>
					<input type="number" ng-model="newSet.weight">
				</label>

    	  		<button class="button button-balanced" ng-click="addSet()">create</button>
	    	</ion-content>
	  </ion-popover-view>
	</script>
  </ion-content>
</ion-view>
